.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.btn {
  color: cyan;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: popbold;
  border: cyan 4px solid;
  border-radius: 0.75em;
}

.btn:hover {
  background: cyan;
  color: black;
  box-shadow: 0 0 1em cyan, 0 0 3em cyan;
  transition: all 0.4s ease;
}

flex-1{
  flex: 1;
}